<?xml version="1.0" encoding="UTF-8">
<!DOCTYPE plist PUBLIC "-/Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.user.openpropesenter</string>
    <key>ProgramArguments</key>
    <array>
        <string>osascript</string>
        <string>/path/to/your/open_prop.scpt</string>
    </array>
    <key>StartCalenderInterval</key>
    <dict>
        <key>Hour</key>
        <integer>8</integer>
        <key>Minute</key>
        <integer>0</integer>
    </dict>
</dict>
</plist>